@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fresca', sans-serif;
}

.container {
    width: 100%;
    max-width: 730px;
    padding: 0 15px;
    margin: 0 auto;
}


/* MEAL-TITLES */
.meal_title {
    font-size: 30px;
    color: #531604;
    padding-top: 25px;
    margin-bottom: 28px;
    overflow: hidden;
}

.meal_title::after {
    content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    display: block;
    font-size: 18px;
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: #cbdde7;
    text-decoration-line: underline;
}

.mealVa_title {
    font-size: 25px;
    color: #b88f3f;
    transition: color .22s linear;
}


/* MEALVA_ITEM */
.mealVa_item {
    display: flex;
    margin-bottom: 30px;
}

.mealVa_item:last-child {
    margin-bottom: 20px;
}


/* MEALVA_IMG_KIT */
.mealVa_img_kit {
    position: relative;
}

.mealVa_img {
    display: block;
    border-radius: 16px;
    transition: opacity .22s linear;
}

.mealVa_img_st1,
.mealVa_img_st2 {
    position: absolute;
    top: 50%;
    left: 43%;
    width: 11px;
    height: 11px;
    border-right: 1px solid #565654;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .22s linear;
}

.secondSt {
    top: 49.5%;
    left: 46.5%;
    transform: rotate(-90deg);
}


/* MEALVA_INFO */
.mealVa_info {
    margin-left: 20px;
}


/* MEALVA_INFO_FIRSTP */
.mealVa_info_firstP {
    position: relative;
    display: flex;
    margin-bottom: 16px;
}

.mealVa_div {
    width: 370px;
    height: 22px;
    border-bottom: 1px dashed #a8a8a8;
    margin-left: 10px;
}

.mealVa_div::after {
    content: '$ 2,00';
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 27px;
    color: #969604;
    margin-top: -2px;
}

.secondD {
    width: 196px;
}

.secondD::after {
    content: '$ 4,50';
}

.thirdD {
    width: 242px;
}

.thirdD::after {
    content: '$ 12,50';
}

.fourthD {
    width: 252px;
}

.fourthD::after {
    content: '$ 10,15';
}

.fifthD {
    width: 292px;
}

.fifthD::after {
    content: '$ 8,00';
}

.sixthD {
    width: 246px;
}

.sixthD::after {
    content: '$ 6,50';
}

.seventhD {
    width: 160px;
}

.seventhD::after {
    content: '$ 12,50';
}

.eighthD {
    width: 210px;
}

.eighthD::after {
    content: '$ 3,50';
}

.ninthD {
    width: 236px;
}

.ninthD::after {
    content: '$ 8,50';
}

.tenthD {
    width: 260px;
}

.tenthD::after {
    content: '$ 10,50';
}

.eleventhD {
    width: 302px;
}

.eleventhD::after {
    content: '$ 6,80';
}

.twelvethD {
    width: 225px;
}

.twelvethD::after {
    content: '$ 4,50';
}

.thirteenthD {
    width: 308px;
}

.thirteenthD::after {
    content: '$ 18,50';
}

.fourteenthD {
    width: 269px;
}

.fourteenthD::after {
    content: '$ 7,15';
}

.fifteenthD {
    width: 260px;
}

.fifteenthD::after {
    content: '$ 6,80';
}

.sixteenthD {
    width: 128px;
}

.sixteenthD::after {
    content: '$ 4,50';
}

.seventeenthD {
    width: 117px;
}

.seventeenthD::after {
    content: '$ 18,50';
}

.eighteenthD {
    width: 334px;
}

.eighteenthD::after {
    content: '$ 7,15';
}


/* MEALVA_TEXT */
.mealVa_text {
    width: 100%;
    max-width: 540px;
    color: #7c8e97;
    line-height: 22px;
}


/* HOVERS */
.mealVa_item:hover  .mealVa_title{
    color: #969604;
}

.mealVa_item:hover .mealVa_img {
    opacity: .3;
}

.mealVa_item:hover .mealVa_img_st1 {
    opacity: 1;
}

.mealVa_item:hover .mealVa_img_st2 {
    opacity: 1;
}
