@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1830px;
    padding: 0 15px;
    margin: auto;
}

.blue_btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #135ec5;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 28px;
    text-transform: uppercase;
    padding: 20px 72px;
}


/* HEADER_TECH */
.header_tech {
    background: #131210;
    padding: 60px 0 40px 0;
}

.header_tech_info {
    display: flex;
}

.tech_info_ref {
    display: flex;
    align-items: center;
    margin-right: 46px;
}

.tech_info_ref a {
    text-decoration: none;
}

.tech_info_ref span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 18px;
}

.white_btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #135ec5;
    border-radius: 28px;
    text-transform: uppercase;
    padding: 21px 34px;
}


/* ADVER */
.adver {
    background: #131210;
}

.adver_car {
    margin-left: 50px;
}

.adver_car img {
    display: block;
    width: 100%;
    max-width: 1737px;
    height: auto;
}

.adver_dots {
    margin-top: 50px;
}

.adver_dots_item {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #3c3c3c;
    margin-bottom: 10px;
}

.adver_dots_item:last-child {
    margin-bottom: 0;
}

.adver_dots_item-blue {
    background-color: #135ec5;
}


/* CBUY */
.cBuy {
    background: #131210;
    padding: 85px 0 100px 0;
}

.cBuy_title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.cBuy_choice {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.cBuy_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1210px;
    margin-right: 116px;
}

input[name="cBuy_input"] {
    outline: 0;
    border: 0;
    background: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    width: 27%;
    padding-bottom: 22px;
    border-bottom: 1px solid #282726;
}

input[name="cBuy_input"]::placeholder {
    color: #3c3c3c;
}


/* HEADER_TAKE */
.header_take {
    border-bottom: 1px solid #ebebeb;
    padding: 60px 0;
}

.header_take_title {
    font-size: 18px;
    font-weight: 400;
    color: #c1c1c1;
    text-align: center;
    margin-bottom: 68px;
}

.header_take_btn {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
}


/* BSERIES */
.bSeries {
    display: flex;
    justify-content: center;
    padding: 170px 0;
}

.bSeries_img {
    margin-right: 100px;
}

.bSeries_img img {
    display: block;
    width: 100%;
    max-width: 790px;
}

.bSeries_title {
    font-size: 60px;
    font-weight: 700;
    color: #135ec5;
    text-transform: uppercase;
}

.bSeries_text {
    width: 100%;
    max-width: 760px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 48px;
    color: #c1c1c1;
    margin: 50px 0 60px 0;
}

.blue_btn-bSeries {
    padding: 21px 30px;
}


/* ANNOUN */
.announ {
    position: relative;
}

.announ_bg {
    background: #135ec5;
    padding: 145px 0 210px 0;
}

.announ_title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}

.announ_div_btn {
    display: flex;
    justify-content: center;
}

.blue_btn-announ {
    border: 3px solid #fff;
    padding: 18px 64px;
}

.announ_img {
    position: absolute;
    bottom: -18%;
    left: 50%;
    transform: translateX(-50%);
}


/* CARDS */
.cards {
    margin-top: 260px;
}

.container_cards {
    width: 100%;
    max-width: 1645px;
    padding: 0 15px;
    margin: auto;
}

.cards_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards_item_btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #135ec5;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 8px 20px;
    margin-right: 20px;
}

.cards_item_title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 130px;
}

.cards_item_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_item_price {
    font-size: 30px;
    font-weight: 700;
    color: #16ad2c;
}


/* CARDS_ITEM_SMALL */
.cards_item_small {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: auto;
    box-shadow: 0 0 8px rgba(203, 198, 198, 0.5);
    padding-bottom: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards_small_bg {
    display: flex;
    justify-content: flex-end;
    background: url("./assets/furie_bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 28px 0 138px 0;
}

.cards_small_img {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
}

.cards_small_img img {
    display: block;
}

.cards_small_subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #135ec5;
    text-align: center;
    margin: 12px 0 32px 0;
}

.cards_small_text {
    font-size: 18px;
    font-weight: 400;
    color: #c1c1c1;
    text-align: center;
    margin-bottom: 40px;
}

.cards_small_ref {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #e2e2e2;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    padding: 18px 42px;
    margin-left: 40px;
}


/* CARDS_ITEM_BIG */
.cards_item_big {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 950px;
    height: auto;
    box-shadow: 0 0 8px rgba(203, 198, 198, 0.5);
    margin-bottom: 50px;
}

.cards_big_firstP {
    width: 100%;
    max-width: 510px;
    height: auto;
    padding: 50px 45px 96px 58px;
}

.cards_item_info-big {
    justify-content: space-between;
}

.cards_big_title {
    font-size: 14px;
    font-weight: 700;
    color: #e2e2e2;
}

.cards_item_title-big {
    color: #135ec5;
    text-align: initial;
}

.cards_big_text {
    font-size: 16px;
    font-weight: 400;
    color: #c1c1c1;
    font-family: 'Open Sans', sans-serif;
    line-height: 48px;
    margin: 36px 0 82px 0;
}

.blue_btn-cards {
    padding: 21px 58px;
}

.cards_big_secondP {
    width: 100%;
    max-width: 440px;
    height: auto;
    background: #135ec4;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px 0 82px 0;
}

.cards_big_div_btn {
    display: flex;
    justify-content: flex-end;
}

.cards_item_btn-big {
    margin-right: 32px;
}

.cards_big_dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.cards_dots_item {
    width: 6px;
    height: 6px;
    background-color: #1550a1;
    border-radius: 50%;
}

.cards_dots_item_cen {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 18px;
}

.cards_big_img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.cards_big_img img {
    display: block;
    width: 100%;
    max-width: 522px;
    height: auto;
}


/* FOOTER */
.footer {
    margin: 150px 0 170px 0;
}

.container_footer {
    width: 100%;
    max-width: 1490px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer_inner {
    box-shadow: 0 0 8px rgba(203, 198, 198, 0.5);
}

.footer_firstP_inputs {
    display: flex;
    justify-content: space-between;
}

.footer_firstP_inputs-group1 {
    padding: 70px 48px;
}

.footer_firstP_inputs-group2 {
    padding: 0 48px 44px 48px;
}

input[name="footer_fiP_inp_item"] {
    outline: 0;
    border: 0;
    background: 0;
    width: 22.5%;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}

input[name="footer_fiP_inp_item"]::placeholder {
    color: #c1c1c1;
}

.footer_fiP_inp_div {
    position: relative;
    width: 22.5%;
    border-bottom: 1px solid #ebebeb;
}

input[name="footer_fiP_inp_item_loc"] {
    outline: 0;
    border: 0;
    background: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding: 0 35px 20px 0;
}

input[name="footer_fiP_inp_item_loc"]::placeholder {
    color: #000;
}

.footer_fiP_inp_item_btn {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
}

.footer_firstP_hr {
    height: 1px;
    background-color: #eeecec;
    border: 0;
}

.footer_Cmodels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 48px 90px 48px;
}

.footer_Cmodels_btn {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
}

.footer_secondP_div_btn {
    display: flex;
    justify-content: center;
}

.footer_secondP_btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #135ec5;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding: 12px 26px;
}

.footer_secondP_bg {
    background: #135ec5;
    padding: 70px 48px 56px 48px;
}

.footer_secondP_inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

input[name="footer_seP_inp_item"] {
    outline: 0;
    border: 0;
    background: 0;
    width: 22.5%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #3676ce;
    padding-bottom: 20px;
    margin-bottom: 62px;
}

input[name="footer_seP_inp_item"]::placeholder {
    color: #4e86d4;
}

input[name="footer_seP_inp_item_white"] {
    outline: 0;
    border: 0;
    background: 0;
    width: 22.5%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #3676ce;
    padding-bottom: 20px;
    margin-bottom: 62px;
}

input[name="footer_seP_inp_item_white"]::placeholder {
    color: #fff;
}

input[name="footer_seP_inp_item"]:nth-child(n+5) {
    margin-bottom: 0;
}

.white_btn-footer {
    padding: 21px 68px;
}




@media (max-width: 1440px) {
    
    .container {
        padding: 0 70px;
    }

    .cBuy_container {
        max-width: 800px;
        margin-right: 70px;
    }

    .bSeries_img {
        margin-right: 60px;
        margin-left: 50px;
    }

    .bSeries_text {
        margin-right: 50px;
    }

    .cards_item_small {
        max-width: 370px;
        margin-left: 30px;
    }

    .cards_item_big {
        max-width: 870px;
        margin-right: 30px;
    }

    .cards_big_img img {
        max-width: 430px;
    }

    .container_footer {
        max-width: 1200px;
    }

}
