* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.regist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 161, 161);
}

.form_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
    padding: 70px 60px 60px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    color: rgb(91, 86, 86);
    margin-bottom: 36px;
}

input[name="input_email"] {
    display: block;
    width: 100%;
    max-width: 260px;
    outline: 0;
    border: 0;
    background: 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(174, 171, 171);
    padding-bottom: 10px;
    margin-bottom: 50px;
}

input[name="input_email"]::placeholder {
    color: rgb(164, 161, 161);
}

.input_password_things {
    width: 100%;
    max-width: 260px;
    position: relative;
    border-bottom: 2px solid rgb(174, 171, 171);
    text-align: initial;
}

input[name="input_password"] {
    width: 100%;
    max-width: 240px;
    outline: 0;
    border: 0;
    background: 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 0 0 10px 0;
}

input[name="input_password"]::placeholder {
    color: rgb(164, 161, 161);
}

.input_password_btn {
    position: absolute;
    top: 10%;
    right: 0;
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
}

.input_password_btn i {
    color: rgb(164, 161, 161);
}

.div_aut_btn {
    display: flex;
    justify-content: center;
}

.aut_btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to right,
    #1fb1ff, #ae29fa);
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 26px;
    padding: 14px 60px;
    margin: 50px 0 100px 0;
}

.text {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: rgb(91, 86, 86);
}

.reg_btn {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    font-size: 11.5px;
    font-weight: 400;
    color: rgb(91, 86, 86);
}
